#daily_contracts{
  color: #000;
}

#daily_contracts_total{
  font-size: 150%;
	font-family: "HG丸ゴシックM-PRO", "HGMaruGothicMPRO";
}

#daily_contracts_list{
  text-align: center;
  overflow: auto;
}

.new_contract{
  color: #f00;
}
