// Place all the styles related to the leafs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*--------------------------

   Customer Table

---------------------------*/
div#customer_table{
  width: 760px;
  height: 215px;
  color: #000;
  font-size: 100%;
}

div#first_box{
  width: 760px;
  height: 52px;
  border-top: #000 1px solid;
  border-bottom: #000 1px solid;
}

.first_box_content{
  height: 50px;
  border-right: #000 1px solid;
  padding: 0 20px;
  font-size: 150%;
  text-align: center;
  float: left;
}

#vhiecle_type{
  width: 140px;
  border-left: #000 1px solid;
}

#contract_number{
  width: 160px;
  text-align: left;
}

#student_flag{
  width: 100px;
}

#start_date{
  //width: 265px;
  padding: 0;
  font-size: 120%;
  float: right;
}

#second_box{
  height: 80px;
  width: 760px;
}

.second_box_content{
  border-right: #000 1px solid;
  border-bottom: #000 1px solid;
  font-size: 150%;
  float: left;
}

#label_address{
  width: 20px;
  height: 50px;
  border-left: #000 1px solid;
  font-size: 100%;
}

#address{
  width: 460px;
  height: 50px;
  overflow: auto;
  padding: 0 10px;
  font-size: 140%;
}

#comment{
  width: 280px;
  height: 80px;
  font-size: 100%;
  overflow: auto;
  float: right;
}

#label_phone{
  width: 20px;
  height: 30px;
  border-left: #000 1px solid;
  font-size: 70%;
  text-align: center;
}

#label_cell{
  width: 20px;
  height: 30px;
  font-size: 70%;
  text-align: center;
}

.phone_number{
  width: 220px;
  height: 30px;
  padding: 0 10px;
  font-size: 110%;
}

#third_box{
  width: 760px;
  height: 82px;
}

.third_box_content{
  border-right: #000 1px solid;
  border-bottom: #000 1px solid;
  float: left;
}

#label_name{
  width: 20px;
  height: 80px;
  border-left: #000 1px solid;
  padding: 15px 0;
}

#read_name_box{
  width: 420px;
  height: 80px;
  float: left;
}

#read_box{
  width: 420px;
  height: 30px;
  border-bottom: #000 1px dotted;
  padding: 0 10px
}

#name_box{
  width: 420px;
  height: 50px;
  font-size: 200%;
  padding: 0 10px
}

#sex{
  width: 40px;
  height: 80px;
  font-size: 130%;
  padding: 0;
  text-align: center;
}

#receipt{
  width: 280px;
  height: 80px;
  padding: 0;
  float: right;
}

/*--------------------------

   Contract List

---------------------------*/
#contracts_list{
  border-top: #000 1px solid;
  color: #000;
  width: 760px;
  height: 293px;
  overflow: auto;
}

#contracts_list :nth-child(6n + 6){
  border-right: #000 1px solid;
}

.month_box{
  width: 122px;
  border-left: #000 1px solid;
  border-bottom: #000 1px solid;
  text-align: center;
  float: left;
}

.stamped{
  background: #9fc;
}

.contract_box{
  height: 100px;
  border-bottom: 1px solid;
}

.seal_box{
  height: 45px;
}

.seal_btn{
  height: 30px;
  background: #68d000;
  border: none;
  margin: 5px 0;
  font-size: 120%;
	font-family: "HG丸ゴシックM-PRO", "HGMaruGothicMPRO";
}

/*--------------------------

  Edit Buttons 

---------------------------*/
#edit_menu{
  width: 760px;
  height: 40px;
  margin-top: 15px;
  clear: both;
  text-align: center;
}

#edit_menu *{
  height: 40px;
  border: none;
  font-size: 120%;
	font-family: "HG丸ゴシックM-PRO", "HGMaruGothicMPRO";
}

.edit_btn{
  background: #658aff;
  margin-right: 15px;
  float: left;
}

.contract_btn{
  background: #f90;
  font-size: 100px;
  float: right;
}

/*--------------------------

  Add Contract Form

---------------------------*/
.modal-content{
  color: #000;
}

#term2{
  display: none;
}

#reset_btn{
  display: none;
}
